<div class="container">
    <div class="row">
        <div class="col-12 bg-light p-3">
            <div class="col-12 text-center font-weight-bold mb-4">
                KOSZYK
            </div>
            <div class="_cart-container">
                <div class="d-flex align-content-center align-items-center justify-content-center">
                    <div class="spinner-border align-self-center text-center" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>