{{#unless cart}}
    <div class="col-xs-12 text-center">
        <div class="alert alert-warning" role="alert">
            Koszyk jest pusty
        </div>
    </div>
{{/unless}}

{{#if cart}}
    <ul>
        {{#cart.items}}
            <li class="d-flex justify-content-between p-2">
                {{productName}} {{productPrice}}
                {{#unless order}}
                    <button onclick="removeProduct(this)" type="button" class="btn btn-dark align-self-end" data-cartItem-id="{{id}}" >-</button>
                {{/unless}}
            </li>
        {{/cart.items}}
    </ul>
    <div class="text-center font-weight-bold pb-3">Suma: {{cart.totalAmount}} </div>
    {{#unless order}}
        <button onclick="orderPurchase(this)" class="btn btn-block btn-success">Zamów</button>
    {{/unless}}
{{/if}}