<div class="row ">

    {{#unless products}}
        <div class="alert alert-warning" role="alert">
            Brak produktów
        </div>
    {{/unless}}
    {{#products}}
        <div class="col-md-4 col-xs-12">
            <div class="card">
                <div class="card-body text-center">
                    <p class="font-weight-bold">{{name}}</p>
                    {{description}}
                    {{price}} ZL <br/>
                    <button onclick="onProductClick(this)" type="button" class="btn btn-primary _add-product-button" data-product-id="{{id}}">Dodaj do koszyka</button>
                </div>
            </div>
        </div>
    {{/products}}

</div>