<div class="row ">

    {{#unless products}}
        <div class="col-xs-12 text-center">
            <div class="alert alert-warning" role="alert">
                Brak produktów
            </div>
        </div>
    {{/unless}}
    {{#products}}
        <div class="col-md-4 col-xs-12">
            <div class="card mb-3">
                <div class="card-body text-center">
                    <p class="font-weight-bold">{{name}}</p>
                    <span class="d-block">{{description}}</span>
                    <span class="d-block mb-5">{{price}} ZL</span>
                    <button
                        onclick="onProductClick(this)"
                        type="button"
                        class="btn btn-primary btn-block align-self-end mt-auto _add-product-button"
                        data-product-id="{{id}}"
                    >
                        Dodaj do koszyka
                    </button>
                </div>
            </div>
        </div>
    {{/products}}

</div>